<p class="text-muted credits">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
  <small>
      <span class="credit">Powered by <a href="http://www.webrtccn.com">WebrtcCN</a></span>,
      <span class="credit">customized with <a href="https://github.com/mjhea0/octoplate">Octoplate</a></span>.
  </small>

  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254415905'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1254415905%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>


  <a href="#" id="back">Back to Top</a>
</p>

<nav id="bottom" class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
</nav>
